/* main classes applied to different elements in document */

html {
    font-size: 1rem;
    scroll-behavior: smooth;
}

/* anchor with inheritted values from parent */

.inher-anch {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: inherit;
}

.inher-anch:hover {
    color: inherit;
    text-decoration: inherit;
}

.blink-link {
    color:#295162;
    animation: blink-animation 3s linear infinite alternate-reverse;
    -webkit-animation: blink-animation 3s linear infinite alternate-reverse;
}

.blink-link:hover {
    color: #295162;
}

@keyframes blink-animation {
    to {
        color: #fefefe;
    }
}

@-webkit-keyframes blink-animation {
    
    to {
        color: #fefefe;
    }
}

/* settings for all icons in document */

.fas {
    font-size: 44px;
    margin-left: 15px;
}

/* style aplied to specific part of document */

/* header */

/* Logo part */

header {
    height: 100vh;
}

.logo {
    display: block;
    align-items: center;
    text-align: center;
}

.company-1st-caption {
    font-style: italic;
    color: #000;
    word-spacing: .2em;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}

.company-2nd-caption {
    color: #b2887c;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}

/* contact info part */

.contact-info {
    color: #4da7a5;
}



.fa-my-border {
    border: solid #4da7a5 2px;
    font-size: 40px;
    /* icon font size - 2*border size */
    border-radius: 100%;
    padding: 8px;
}

/* menu icon  */

.menu-btn {
    position: fixed;
    right: 3%;
    top: 0;
    z-index: 99;
}

.menu-btn .fas {
    font-size: 64px;
}

/* header -center part of the website */

.main-caption {
    font-family: 'Nixie One', cursive;
    padding-left: 3%;
    margin-top: 20px;
    text-align: center;
}

.main-sub-heading {
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    letter-spacing: .5em;
}

.main-picture {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    background-image: linear-gradient(to bottom, #f5f7f8, #f4f8f98c), url(../images/refactored/two-woman-main-img-1920.jpg);
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* header end */

/* section begin */

.feature-col {
    margin-top: 6.25vh;
    padding-left: 10%;
}

.feature-col button {
    width: 150px;
    height: 40px;
    margin-left: 80px;
}

.feature-img {
    max-height: 25vh;
    width: auto;
    border: solid 3px #4da7a5;
}

.feature-display {
    height: 100vh;
    width: 100vw;
    padding-top: 0;
    background-color: #f5f6f8;
}

.display-img {
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
}

.display-text {
    width: 70%;
    height: auto;
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}

/* media queries for different size of screen */

@media (min-width: 576px) {
    html {
        font-size: 1rem;
    }
    .logo {
        display: inline-flex;
    }
    .main-picture {
        background-image: url("../images/refactored/two-woman-main-img-1920.jpg");
    }
    .main-caption {
        margin-top: 130px;
        background-color: rgba(77, 167, 165, .3);
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    html {
        font-size: 1rem;
    }
    .company-1st-caption {
        letter-spacing: .2em;
    }
    .main-caption {
        background-color: transparent;
        padding-top: 0;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    html {
        font-size: 1rem;
    }
    .contact-info {
        padding-left: 10%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    html {
        font-size: 1.2rem;
    }
}