/* main classes applied to different elements in document */

html {
    font-size: 1rem;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* anchor with inheritted values from parent */

.inher-anch {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: inherit;
}

.inher-anch:hover {
    color: inherit;
    text-decoration: inherit;
}

.blink-link {
    color:#295162;
    animation: blink-animation 3s linear infinite alternate-reverse;
}

@keyframes blink-animation {
    to {
        color: #fff;
    }
  }

.blink-link:hover {
    color: #295162;
}

a:not([href]):hover {
    cursor: pointer
}


/* settings for all icons in document */

.fas {
    font-size: 44px;
    margin-left: 15px;
}

/* style aplied to specific part of document */

/* header */

/* navigation */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(77, 167, 165);
    background-color: rgba(77,167,165, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #000;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    background-color: #fff;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  


/* Logo part */

header {
    min-height: 99vh;

}

.logo {
    display: block;
    align-items: center;
    text-align: center;
}

.company-1st-caption {
    font-style: italic;
    color: #000;
    word-spacing: .2em;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}

.company-2nd-caption {
    color: #b2887c;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}

/* contact info part */

.contact-info {
    color: #4da7a5;
}



.fa-my-border {
    border: solid #4da7a5 2px;
    font-size: 40px;
    /* icon font size - 2*border size */
    border-radius: 100%;
    padding: 8px;
}

/* menu icon  */

.menu-btn {
    position: fixed;
    right: 3%;
    top: 0;
    border: none;
    background-color: transparent;
    z-index: 1040
}

.menu-btn:focus {
    outline: none;
}

.menu-btn-span {
    position: fixed;
    right: 3%;
    top: 0;
    /* color: #4da7a5; */
}

.menu-btn .fas {
    font-size: 64px;
}

/* header -center part of the website */

.main-caption {
    font-family: 'Nixie One', cursive;
    padding-left: 3%;
    margin-top: 20px;
    text-align: center;
}

.main-sub-heading {
    font-family: 'Nixie One', cursive;
    text-transform: uppercase;
    letter-spacing: .5em;
}

.main-picture {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    background-image: linear-gradient(to bottom, #f5f7f8, #f4f8f98c), url(../images/refactored/two-woman-main-img-1920.jpg);
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* header end */

/* section features begin */

.feature-col {
    margin-bottom: 6.25vh;
}


.feature-img {
    width: 100%;
}

.btn-feature {
    background-color:#295162;
    color: #ffff;
    border: none;
    width: 150px;
    height: 40px;
    text-transform: uppercase;
}

.btn-feature:hover {
    background-color:#4da7a5;
}
.btn-feature:active {
    background-color:#4da7a5;
}
.btn-primary:not(:disabled):not(.disabled).active {
    background-color:#4da7a5;
}
.btn-feature:focus {
    background-color:#4da7a5;
}


.feature-display {
    width: 100vw;
    padding-top: 0;
    background-color: #f5f6f8;
}

.display-img {
    max-width: 100%;
    margin-top: 10%;
}

.display-text {
    width: 100%;
    height: auto;
    background-color: #f5f6f8;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 1.5rem;
    text-align: center;
    line-height: 2.5rem;
}



/* section recommendation */

.recommendation-section {
    background-color:#4da7a5;
}

.card {
    width: 100%;
    border: none;
    background-color:#4da7a5;
}

.card-header {
    border: none;
}

.card-img-top {
    border-radius: 50%;
    width: 75%;
    margin: auto;
}

/* contact map section */
.address-col {
    text-align: center;
    margin: auto;
}

.footer {
    background-color: #295162;
    font-size: 0.6rem;
    padding: 0.1rem;
    text-align: center;
}

.map-frame {
    width: 100%;
}

/* modal form dialog */

.modal-dialog {
    max-width: 800px;
}

/* section therapist */
.therapist-photo {
    padding-left: 0;
}

.therapist-description {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

/* media queries for different size of screen */

@media (min-width: 576px) {
    html {
        font-size: 1rem;
    }
    .logo {
        display: inline-flex;
    }
    .main-picture {
        background-image: url("../images/refactored/two-woman-main-img-1920.jpg");
    }
    .main-caption {
        margin-top: 6rem;
        background-color: rgba(77, 167, 165, .3);
        padding-top: 25px;
        padding-bottom: 25px;
    }

}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    html {
        font-size: 1rem;
    }
    .company-1st-caption {
        letter-spacing: .2em;
    }
    .main-caption {
        background-color: transparent;
        padding-top: 0;
    }
    .btn-feature {
        width: 125px;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    html {
        font-size: 1rem;
    }
    .contact-info {
        padding-left: 10%;
    }
    .btn-feature {
        width: 150px;
    }
    .display-img {
        max-width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 10%;
    }
    
    .display-text {
        height: auto;
        background-color: #f5f6f8;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        padding: 1.5rem;
        text-align: center;
        line-height: 2.5rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    html {
        font-size: 1.2rem;
    }
}