/* -------------------------------- General rules -------------------------------- */
html {
    scroll-behavior: smooth;

}

body {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #8d8d8d;
}

h1, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}

h2 {
    font-family: "Montserrat", "sans-serif";
}
/* 
.container-fluid {
    margin: 0;
    padding: 0;
} */

/* -------------------------------- General rules -------------------------------- */

/* -------------------------------- HEADER -------------------------------- */

.header {
    color: #3d3d3d;
    height: 100vh;
    background-image: url("../images/yoga-woman.jpg");
    background-size: cover;
    background-position: top;
    position: absolute;
    width: 100%;
    top: 0;
}

.link-logo:hover {
    text-decoration: none;
    color: #295162;
}

.header-headings >*{ 
    font-size: 3vh;
    color: #295162;   
}

.header-headings{
    float: left;

}
.img-logo {
    height: 12vh;
    float: left;
} 

.home-captions {
    position: absolute;
    left: 5vw;
    top: 25vh;
    width: 30%;
}
/* -------------------------------- HEADER -------------------------------- */

/* -------------------------------- NAVBAR -------------------------------- */
.navbar-button {
    z-index: 1;
    position: sticky;
    top: 2%;
    margin-left: 80%;
    border: 0;
    background-color: #4da7a5;
}
.navbar-button:focus {
    outline: 0;
}
.my-navbar {
    z-index: 1;
    position: sticky;
    top:2%;
    padding-left: 0;
    padding-right: 0

}
.my-navbar-collapse {
    position: absolute;
    top: 15%;
    width: 100%;
    margin-right: 0;

    padding-top: 10vh;
}

.nav-list {
    height: 100%;
    background-color: rgba(77, 167, 165,.8);
}

.my-nav-item, .nav-list {
    margin-right: 0;
    padding-right: 0;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link{
    color: #295162;
}
.my-nav-link:hover {
    background-color: #295162;

}



/* .nav-item {
    display: inline;
    float: left;
} */


/* .my-navbar:hover {
    background-color: #ffffff;
} */

/* -------------------------------- NAVBAR -------------------------------- */

/* -------------------------------- HEADER OF SECTION FOR WHO  -------------------------------- */
.section-whom-header {
    background-image: url("../images/man-pain-back.jpg");
    height: 100vh;
    background-size: cover;
    background-position: top;
    margin-top: 90vh;
    
}

.section-header-text{
    width: 50%;
    margin:auto;
    padding-top: 15vh;
}
.section-header-link {
    height: 100%;
    width: 40%;
    color: #ffffff;
    display: block;
    margin:auto;
    padding-top: 25vh;
}
.section-header-link:hover {
    color: #ffffff;

}
/* -------------------------------- HEADER OF SECTION FOR WHO  -------------------------------- */

/* -------------------------------- SECTION FOR WHO  -------------------------------- */


.list-heading {
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

.list-image {
    margin: 0;
    padding: 0;
    width: 100%;

}

.media-collapse {
    color: #ffffff;
}
.media-collapse:hover {
    color: #ffffff;

}
.section-for-whom {
    background-color: #295162;
    color: white;
}
.img-anchor {
    width: 50%;
}
.pain-type-list {
    margin-bottom: 0;

}
@media (min-width:700px) {
    .list-image {
         width: 50%;
    }
    .pain-description {
        width: 50%;
        height: 100%;
        float: right;
        padding: 1%;
    }
}
@media (min-width:859px) {
    .nav-list {
        flex-direction: row;
        width: 70%;
        margin-left: 15%;

    }
    .my-nav-item, .my-nav-link {
        padding-right: 10px;
        padding-left: 10px;
    }
    .my-navbar-collapse {
        top: 10;
    }

}

@media (max-width: 400px) {
    .navbar-button {
        margin-right: 0;

    }
    .my-navbar {
        right: 0;
        top: 0;
    }
}

/* -------------------------------- SECTION FOR WHO  -------------------------------- */

/* -------------------------------- HEADER OF SECTION TREATMENT  -------------------------------- */

.section-treatments-header {
    background-image: url("../images/women-therapy.jpg");
    background-size: cover;
    height: 100vh;
    background-position: top;
}

.section-treatment-header-link {
    display: block;
    padding-top: 25vh;
    color: #295162;
    width: 50%;
    height: 100%;
}
.section-treatment-header-link:hover {
    color: #295162;
}


/* -------------------------------- HEADER OF SECTION TREATMENT  -------------------------------- */
.therapy-card{
    width: 100%;
    border: 0;
}

.card-img-top {
    margin: 5% 0 5% 0;
}

.threatment-card-body {
    position: absolute;
    height: 100%;
    color: transparent;
    background-color: transparent;
    transition: background-color 2s, color 2s;
    font-weight: bold;
    padding: 10% ;
}

.threatment-card-body:hover {
    color: #3d3d3d;
    background-color: rgba(255,255,255, .6);
}

.card-title {
    color: black;

}
.text-card-bottom {
    position: absolute;
    width: 50%;
    left: 25%;
    bottom: 2%;
    color: black;
}

.img-map {
    width: 35%;

}

