/* -------------------------------- General rules -------------------------------- */
/* html {
    scroll-behavior: smooth;

} */

body {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #8d8d8d;
}



h1, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}

h2 {
    font-family: "Montserrat", "sans-serif";
}

/* -------------------------------- General rules -------------------------------- */

/* -------------------------------- HEADER -------------------------------- */

.header {
    color: #3d3d3d;
    height: 100vh;
    background-image: url("../images/physioterapy-spin.jpg");
    background-size: cover;
    background-position: top;
    position: fixed;
    z-index: -1;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 8vh;
}

.link-logo:hover {
    text-decoration: none;
    color: #295162;
}

.header-headings >*{ 
    font-size: 5vh;
    color: white;
    font-weight: 400;   

}

.header-headings{
    float: left;

}
.img-logo {
    height: 14vh;
    float: left;
    margin-top: 1%;
} 

.home-captions {
    position: absolute;
    left: 33%;
    top: 35vh;
    width: 45%;
    color: black;
    transform: rotate(5deg); 
}

.logo-stickedinheader  {
    background-color: white;
    border-radius: 50%;

}
.header-stickedinheader {
    padding: 1%;
    color: black;
}

.btn-appointment {
    background-color: #4da7a5;
    color: inherit;
    border: 0;
    padding: 1%;
    border-radius: 5%;
}
.btn-appointment:hover {
    background-color: #295162;
    color: white;
    text-decoration: none;
}


/* -------------------------------- HEADER -------------------------------- */

/* -------------------------------- NAVBAR -------------------------------- */
.navbar-button {
    z-index: 1;
    position: sticky;
    top: 2%;
    margin-left: 80%;
    border: 0;
    background-color: #4da7a5;
}
.navbar-button:focus {
    outline: 0;
}
.my-navbar {
    z-index: 1;
    position: sticky;
    top: 0;
    padding-left: 0;
    padding-right: 0

}
.my-navbar-collapse {
    position: absolute;
    top: 0;
    width: 80%;
    margin-right: 0;
    padding-top: 0;
}

.nav-list {
    height: 100%;
    background-color: rgb(77, 167, 165);
}

.my-nav-item, .nav-list {
    margin-right: 0;
    padding-right: 0;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link{
    color: #295162;
}
.my-nav-link:hover {
    background-color: #295162;

}

/* -------------------------------- NAVBAR -------------------------------- */

/* -------------------------------- SECTION FOR WHO  -------------------------------- */

.section-whom-header {
    background-image: url("../images/man-pain-back2.jpg");
    background-size: cover;
    background-position: top;
    margin-top: 90vh; 
    padding-top: 5vh;
}

.section-header-text{
    width: 50%;
    margin:auto;
    padding-top: 15vh;

}


.section-header-link {
    width: 40%;
    color: #ffffff;
    display: block;
    margin:auto;
    padding-top: 5vh;

}
.section-header-link:hover {
    color: #4da7a5;
    text-decoration: none;

}

.list-heading {
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.pain-description {
    text-transform: none;
}
.list-image {
    margin: 0;
    padding: 0;
    width: 100%;
}

.media-collapse {
    color: #ffffff;
}
.media-collapse:hover {
    color: #4da7a5;

}
.section-for-whom {
    background-color: #295162;
    color: white;
    background-size: cover;
    background-position: top;

}
.img-anchor {
    width: 50%;
}
.pain-type-list {
    margin-bottom: 0;

}
/* -------------------------------- SECTION FOR WHO  -------------------------------- */



/* -------------------------------- TREATMENTS SECTION -------------------------------- */

.section-treatments-header {
    scroll-behavior: smooth;
    background-image: url("../images/women-therapy.jpg");
    background-size: cover;
    height: 100vh;
    background-position: top;
}

.section-treatment-header-link {
    display: block;
    padding-top: 25vh;
    color: #295162;
    width: 50%;
    height: 100%;
}
.pain-list {
    margin: auto;
    text-align: center;
}

.section-treatment-header-link:hover {
    color: #4da7a5;
    text-decoration: none;
}

.therapy-card{
    width: 100%;
    border: 0;
}

.card-img-top {
    margin: 5% 0 5% 0;
}

.card-title {
    color: black;

}

/* -------------------------------- TREATMENTS SECTION -------------------------------- */

/* -------------------------------- SECTION RECOMMENDATIONS  -------------------------------- */

.section-recommendations {
    margin:0;
    padding: 0;
    background-image: url("../images/recommendations.jpg");
    background-size: cover;
    background-position: top;
    color: #295162;
}

.recom-col1, .recom-col2 {
    background-color: transparent;
    margin-top: 120vh;
    border: 0;

}
.recom-col-3 {

    background-color: transparent;
    border: 0;
}

.recom-header1 {
    position: absolute;
    padding-top: 30vh;
    width: 25%;
}

.recom-header2 {
    position: absolute;
    right: 0;
    width: 25%;
    padding-top: 30vh;
}

.my-rec-card-header {
    color: green;
    font-size: 30px;
    background-color: transparent;
    border: 0;
  
}
.recom-quote {
    text-transform: none;
    font-style: italic;
    font-size: 1rem;
}
.section-recom-link {
    color: #295162;
}
.section-recom-link:hover {
    color: #4da7a5;
}


/* -------------------------------- SECTION RECOMMENDATIONS  -------------------------------- */

/* -------------------------------- SECTION GALLERY  -------------------------------- */
.gallery-section{
    padding-top: 30vh;
}
.gallery-container {
    border: 2px solid #295162;
    width: 60%;
    margin: auto;
    padding: 0;

}
.gallery-img {
    width: 24%;
    height: 100%;
    background-color: #ece8e8;
    margin: 0;
    padding: 0;
}


/* -------------------------------- ADDRESS SECTION --------------------------------*/
#contact {
    margin-bottom: 5%;
    margin-top: 8%;
    padding-top: 8%;
    }
.contact-header {
    background-color: #295162;
    color: #ece8e8;
    transform: rotate(5deg);
    width: 40%;
    margin: auto;

}

.leave-mes-btn {
    background-color: #295162;
    color: #ece8e8;
    width: 40%;
    margin: auto;
    margin-top: 2%;
}
.leave-mes-btn:hover {
    background-color: #4da7a5
}

.img-map {
    /* margin-top: 8%; */
    width: 65%;
    border: 5px solid #295162;
    transform: rotate(5deg);
    z-index: -1;
}

.address-col {
    float: left;
    margin-top: -16%;
    color: #4da7a5;
    background-color: white;
    border-radius: 20%;
    padding: 2%;
}

.form {
    position: fixed;
    bottom: 0;
    z-index: 25;
    padding-top: 1%;
    width:50%;

    background-color: white;

}


.my-close-btn {
    font-size: 3.5rem;
    display: block;
    color: black;
    border: 0;
}

.btn-send-form {
    background-color: #295162;
    border: 0;
    color: white;
}

.btn-send-form:hover {
    background-color: #4da7a5;
    border: 0;
}

/* -------------------------------- ADDRESS SECTION --------------------------------*/


/* -------------------------------- FOOTER -------------------------------- */

.footer {
    background-color: #295162;
    font-size: 12px;
}

.footer p {
    padding: 1px;
    margin: 1px;
}
.company-name-col {
    float: right;
}
.footer-img-logo {
    height: 12vh;
    background-color: #ffffff;
    border-radius: 50%;
}

.montserrat-font {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
}

.col-media {
    font-size: 24px;
    padding: 5px;
}
.footer-nav-list {
    list-style: none;
}

.footer-nav-item {
    margin: 5px;
}

.footer a {
    color: #ffffff;
}
.footer a:hover {
    color: #4da7a5;
    text-decoration: none;
}
/* -------------------------------- FOOTER -------------------------------- */

/* -------------------------------------- MEDIA ------------------------------------------------------ */
@media(max-width:420px) {
    .header {
        right: 0;
        left: 0;
    }
    /* .navbar-button {
        width: 100%;
        margin-left: 0;
    } */
    .my-navbar-collapse {
        width: 100%;
        padding-top: 15%;

    }
}

@media (max-width:800px) {
    .form {
        width:100%;
    }
    .gallery-container {
        width: 100%;
        margin-bottom: 10vh;
    }
    .header-container {
        padding: 0;
    }
  
    .header-headings >*{ 
         color: black;
        font-weight: 900;  
        font-size: 3vh; 
    }
    
    .header-headings{
        float: none;
    
    }
    .img-map {
        width: 99%;
        transform: none;
    }
    #contact {
        padding-top: 25vh;

    }
    .contact-header {
        transform: none;
    }
}

@media (max-width:576px) {
    /* .recom-col-3 {
        visibility: hidden;
    } */
    .recom-col2 {
        margin-top: 0;

    }
    .recom-header1 {
        position: absolute;
        padding-top: 2vh;
        width: 90%;
        left: 0;
    }
    .recom-header2 {
        visibility: hidden;
    }
    
}

@media (min-width:1100px) {
    .threatment-card-body {
        position: absolute;
        height: 100%;
        color: transparent;
        background-color: transparent;
        transition: background-color 2s, color 2s;
        font-weight: bold;
        padding: 10% ;
    }
    
    .threatment-card-body:hover {
        color: #3d3d3d;
        background-color: rgba(255,255,255, .6);
    }
    .text-card-bottom {
        position: absolute;
        width: 50%;
        left: 25%;
        bottom: 2%;
        color: black;
    }
}

@media (min-width:700px) {
    .list-image {
         width: 50%;
    }
    .pain-description {
        width: 48%;
        height: 100%;
        float: right;
        padding: 1%;
    }
}
@media (min-width:859px) {
    .nav-list {
        flex-direction: row;
        margin-right: 2%;
        margin-left: 5%;
        background-color: rgba(77, 167, 165,.8);
    }

    .nav-list .my-nav-link {
        padding-right: 10px;
        padding-left: 10px;
    }
    .nav-list .my-nav-link:hover {
        padding-right: 10px;
        padding-left: 10px;
    }

}